pre {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
    white-space:pre-wrap;
}

.product-image {
    max-width: 300px;
}

.product-overview {
    width: 550px;
    height: 300px;
}

.user-image {
    display: block;
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
}

.mailbutton {
    color: black;
    text-decoration: none;
}
