<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="80" layout="column">
        <!--Start of upper block (Picture and Information) -->
        <md-content class="md-padding" >
            <md-card layout-xs="column" layout="row">
            <div flex-xs flex-gt-xs="55">
                <md-content>

                        <div style="text-align: center">
                        <img ng-src="{{$ctrl.product.imagePath}}" class="product-image">
                        </div>

                </md-content>
            </div>
            <div flex flex-gt-xs="60" layout="column">
                <md-content style="overflow:hidden">
                    <md-card class="product-overview" flex>
                        <md-card-title style="height: 30%">
                            <md-card-title-text>
                                <span class="md-headline">{{$ctrl.product.name}}</span>
                                <span class="md-subhead">{{$ctrl.product.shortDescription}}</span>
                                <span class="md-subheader">hand-made by: {{$ctrl.product.seller.username}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-divider></md-divider>
                        <md-card-content layout="column" layout-align="space-between" style="height: 70%">
                                <div flex-xs flex-gt-xs="10" >
                                    <p><strong>Price: <span style="color: #8BC34A"> € {{$ctrl.product.price}} </strong></span></p>
                            </div>
                            <span class="md-subheader">Price is inclusive of German VAT.</span>
                            <md-divider></md-divider>
                            <div ng-if="$ctrl.product.stock < 10">
                                <h3 style="color: darkred">Only {{$ctrl.product.stock}} left in stock</h3>
                            </div>
                            <div ng-if="$ctrl.product.stock >= 10">
                                <h3 style="color: orangered">{{$ctrl.product.stock}} items left in stock</h3>
                            </div>
                        </md-card-content>
                    </md-card>
                </md-content>
            </div>
            </md-card>
        </md-content>
        <!--Start of Product Description -->
        <md-content class="md-padding" >
            <md-card style="height: 380px">
                <md-card-title style="height: 20%">
                    <md-card-title-text>
                        <span class="md-headline">Product Description</span>
                    </md-card-title-text>
                </md-card-title>
                <md-divider></md-divider>
                <md-card-content style="height: 80%">
                    <div>
                        <pre>{{$ctrl.product.description}}</pre>
                    </div>
                </md-card-content>
            </md-card>
        </md-content>
    </div>
    <!--Start of Block left (Shopping Cart) -->
    <div flex-xs flex-gt-xs="20" layout="column">
        <md-content class="md-padding">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" md-colors="{color:'primary'}">EUR {{$ctrl.product.price}}</span>
                        <span class="md-subhead">+ shipping cost</span>
                        <span class="md-subheader">Designer will ship it in {{$ctrl.product.processingDays}} days</span>
                    </md-card-title-text>
                </md-card-title>
                <md-divider></md-divider>
                <md-card-content>
                    <p>In Stock</p>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Quantity</label>
                        <input type="number" name="deliveryTime" placeholder="1"/>
                    </md-input-container>
                    <div flex-xs class="addToCart" layout="column">
                        <md-button  class="md-raised md-primary" ng-click="$ctrl.addtoShoppingCart($ctrl.product)">
                            <md-icon><ng-md-icon icon="add_shopping_cart" ></ng-md-icon></md-icon>
                            Add to Cart
                        </md-button>
                    </div>
                </md-card-content>
            </md-card>
        </md-content>
        <!--Start of Delivery and Payment -->
        <md-content class="md-padding">
            <md-card>
                <md-card-content layout-xs="column" layout="row">
                    <div flex-xs flex-gt-xs="30" layout="column">
                        <md-icon><ng-md-icon icon="local_shipping" ></ng-md-icon></md-icon>
                    </div>
                    <div flex-xs flex-gt-xs="70" layout="column">
                        <div>
                            <h4>Express Delivery</h4>
                            <span class="md-subheader">1-2 days delivery time</span>
                        </div>
                        <div>
                            <h4>Standard Delivery</h4>
                            <span class="md-subheader">3-5 days delivery time</span>
                        </div>
                    </div>
                </md-card-content>
                <md-divider md-inset></md-divider>
                <md-card-content layout-xs="column" layout="row">
                    <div flex-xs flex-gt-xs="30" layout="column">
                        <md-icon><ng-md-icon icon="payment" ></ng-md-icon></md-icon>
                    </div>
                    <div flex-xs flex-gt-xs="70" layout="column">
                        <div>
                            <h4>PayPal</h4>
                            <span class="md-subheader">Early shipment</span>
                        </div>
                        <div>
                            <h4>Bank Transfer</h4>
                            <span class="md-subheader">Consider delay in money transfer</span>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </md-content>
    </div>
</md-content>

<md-divider md-inset></md-divider>
<!--Start of Product Information -->
<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="80" layout="column">
        <md-content class="md-padding" >
            <md-card style="height: 450px">
                <md-card-title style="height: 10%">
                    <md-card-title-text>
                        <span class="md-headline">Product Information</span>
                    </md-card-title-text>
                </md-card-title>
                <md-divider></md-divider>
                <md-card-content layout="column" layout-align="space-between" style="height: 85%">
                    <div>
                        <p><strong>Colour:</strong>
                            <span ng-if="$ctrl.product.color['isYellow']">Yellow</span>
                            <span ng-if="$ctrl.product.color['isOrange']">Orange</span>
                            <span ng-if="$ctrl.product.color['isRed']">Red</span>
                            <span ng-if="$ctrl.product.color['isBrown']">Brown</span>
                            <span ng-if="$ctrl.product.color['isGreen']">Green</span>
                            <span ng-if="$ctrl.product.color['isBlue']">Blue</span>
                            <span ng-if="$ctrl.product.color['isViolette']">Violet</span>
                            <span ng-if="$ctrl.product.color['isBlack']">Black</span>
                            <span ng-if="$ctrl.product.color['isWhite']">White</span>
                        </p>
                    </div>
                    <div ng-if="!$ctrl.product.weight">
                        <p><strong>Item Weight:</strong> N/A</p>
                    </div>
                    <div ng-if="$ctrl.product.weight">
                        <p><strong>Item Weight:</strong> {{$ctrl.product.weight}} kg</p>
                    </div>
                    <div ng-if="$ctrl.product.category">
                        <p><strong>Category:</strong> {{$ctrl.product.category}}</p>
                    </div>
                    <div ng-if="$ctrl.product.subcategory">
                        <p><strong>Sub-Category:</strong> {{$ctrl.product.subcategory}}</p>
                    </div>
                    <div>
                        <p><strong>Last updated at CraftWorks.de:</strong> {{$ctrl.product.updated | date: 'fullDate'}}</p>
                    </div>
                    <div>
                        <p><strong>Item sold by:</strong> {{$ctrl.product.seller.username}}</p>
                    </div>
                </md-card-content>
            </md-card>
        </md-content>
    </div>
    <!--Start of Block Designer -->
    <div flex-xs flex-gt-xs="20" layout="column">
        <md-content class="md-padding">
            <md-card style="height: 450px">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Designer</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div flex-xs  layout="column">
                        <md-content>
                            <md-card layout-align="center center">
                                <img ng-src="{{$ctrl.product.seller.imagePath}}" class="user-image">
                            </md-card>
                        </md-content>
                    </div>
                        <div flex-xs layout="column">
                            <h4>{{ $ctrl.product.seller.firstName }} {{ $ctrl.product.seller.lastName }}</h4>
                            <p>sent from {{ $ctrl.product.seller.city }}, {{ $ctrl.product.seller.state }}</p>
                        </div>
                    <div flex-xs class="addToCart" layout="column">
                        <md-button  class="md-raised md-primary" ng-click="sendMail($ctrl.product.seller.email)">
                            <a class="mailbutton"href="mailto: {{$ctrl.product.seller.email}}">
                            <md-icon><ng-md-icon icon="chat" ></ng-md-icon></md-icon>
                            Get in touch</a>
                        </md-button>
                    </div>
                </md-card-content>
            </md-card>
        </md-content>
    </div>
</md-content>
