 <div layout="row" layout-padding>
        <div flex="10"></div>
        <div flex="80">
            <h1 >
                Check Out
            </h1>
            <h4 class="stepInstruction" >
                Step 1/3: Delivery Adress
            </h4>
                <md-input-container class="md-block" flex-gt-sm>
                    <md-checkbox  ng-model="$ctrl.checkout.adress.useradress" aria-label="Checkbox 1">Take this Adress: {{$ctrl.getCurrentUserAdress()}}</md-checkbox>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <md-checkbox  ng-model="$ctrl.checkout.adress.newadress" aria-label="Checkbox 1">Insert new Adress </md-checkbox>
                </md-input-container>
                <md-input-container class="md-block" ng-if="$ctrl.checkout.adress.newadress" flex-gt-sm>
                    <div>
                        <form name="CheckOutForm">
                            <md-input-container class="md-block">
                                <label>Address Line 1</label>
                                <input type="text" name="addressLine1" ng-model="$ctrl.checkout.addressLine1" required=""/>
                                <div ng-messages="CheckoutForm.addressLine1.$error" role="alert" multiple="">
                                    <div ng-message="required">Please enter your street address.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Address Line 2</label>
                                <input type="text" name="addressLine2" ng-model="$ctrl.checkout.addressLine2" />
                            </md-input-container>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>City</label>
                                    <input type="text" name="city" ng-model="$ctrl.checkout.city" required=""/>
                                    <div ng-messages="CheckOutForm.city.$error" role="alert" multiple="">
                                        <div ng-message="required">Please enter your city name.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>State</label>
                                    <input type="text" name="state" ng-model="$ctrl.checkout.state"  required=""/>
                                    <div ng-messages="CeckOutForm.state.$error" role="alert" multiple="">
                                        <div ng-message="required">Please enter your state.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>ZIP Code</label>
                                    <input name="zip" ng-model="$ctrl.sigcheckoutnup.zip" required="" ng-pattern="/^[0-9]{5}$/" md-maxlength="5"/>
                                    <div ng-messages="CheckOutForm.zip.$error">
                                        <div ng-message="required">Please enter the ZIP code.</div>
                                        <div ng-message="pattern">That doesn't look like a valid postal
                                            code.
                                        </div>
                                        <div ng-message="md-maxlength">
                                            Don't use the long version silly...we don't need to be that specific...
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                        </form>
                    </div>
                </md-input-container>
                <md-divider></md-divider>
                <h4 class="stepInstruction" >
                    Step 2/3: Payment
                </h4>
            <div layout="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-checkbox  ng-model="$ctrl.checkout.paymentMethod.isIban" aria-label="Checkbox IBAN">IBAN</md-checkbox>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-checkbox  ng-model="$ctrl.checkout.paymentMethod.isPayPal" aria-label="Checkbox PayPal">PayPal</md-checkbox>
                    </md-input-container>
            </div>
                    <md-input-container class="md-block" ng-if="$ctrl.checkout.paymentMethod.isIban" flex-gt-sm>
                        <label>IBAN</label>
                        <input type="text" name="iban" ng-model="$ctrl.checkout.iban" required />
                        <div ng-messages="CheckOutForm.iban.$error" role="alert" multiple="">
                            <div ng-message="required">Please enter the IBAN number.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" ng-if="$ctrl.checkout.paymentMethod.isPayPal" flex-gt-sm>
                        <label>PayPal</label>
                        <!--<input type="text" name="paypal" ng-model="$ctrl.checkout.paypal" required />-->
                        <!--<div ng-messages="CheckOutForm.paypal.$error" role="alert" multiple="">-->
                            <!--<div ng-message="required">Please enter your paypal account.</div>-->
                        <!--</div>-->
                        <!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">-->
                            <!--<input type="hidden" name="cmd" value="_s-xclick">-->
                            <!--<input type="hidden" name="hosted_button_id" value="PDU2VCDFLFXUG">-->
                            <!--<input type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">-->
                            <!--<img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">-->
                        <!--</form>-->
                        <!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">-->
                            <!--<input type="hidden" name="cmd" value="_s-xclick">-->
                            <!--<input type="hidden" name="hosted_button_id" value="PDU2VCDFLFXUG">-->
                            <!--<input type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">-->
                            <!--<img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1" onclick="payment()">-->
                        <!--</form>-->



                        <input type="button" env="opts.env" client="opts.client" payment="opts.payment" commit="opts.commit" on-authorize="opts.onAuthorize" onclick="$ctrl.paypal()"></inputbutton>






                    </md-input-container>

                <md-divider></md-divider>
                <h4 class="stepInstruction" >
                    Step 3/3: Overview
                </h4>
                <md-list>
                    <md-list-item class="checkoutoverview" aria-label="Shopping Item" ng-repeat="product in $ctrl.products">

                        <md-icon></md-icon>
                        <p></p>
                        <p><img ng-src="{{product.imagePath}}"
                                style="max-width:100px" class="cartpicture"></p>
                        <p>

                        <div class="BlockContent" f>
                            <div><h3>{{product.name}}</h3></div>
                            <div>{{product.shortDescription}}</div><br/>
                        </div>
                        </p>

                        <p>
                        </p>
                        <p></p>
                        <p>{{product.price | currency:'€'}}</p>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
                <div class="afterbutton" layout="row">
                    <span flex></span>
                    <md-button class="md-raised" ng-click="$ctrl.cancel()">Cancel</md-button>
                    <md-button class="md-raised md-primary" ng-click="$ctrl.checkout()">Buy</md-button>
                </div>
            </div>
        <div flex="10"></div>
    </div>


