<md-card class="offerBlock">
    <div layout="column" flex>
        <div class="title-wrapper">
            <br/>
            <h1 id="headline">
                Create New Offer: {{ $ctrl.product.name }}
            </h1>
            <p class="iconoffer">+</p>
            <br/>
        </div>
        <div>
            <form name="productForm">
                <md-input-container class="textTemplate">
                    <label>Name</label>
                    <md-icon>
                        <ng-md-icon icon="title"></ng-md-icon>
                    </md-icon>
                    <input ng-model="$ctrl.product.name" type="text">
                </md-input-container>
                <md-input-container class="textTemplate description-wrapper">
                    <label>Description</label>
                    <md-icon>
                        <ng-md-icon icon="subject"></ng-md-icon>
                    </md-icon>
                    <textarea id="textArea1" ng-model="$ctrl.product.description" md-maxlength="500" rows="4" md-select-on-focus></textarea>
                </md-input-container>
                <md-input-container class="textTemplate">
                    <label>Short Description</label>
                    <md-icon>
                        <ng-md-icon icon="subject"></ng-md-icon>
                    </md-icon>
                    <input ng-model="$ctrl.product.shortDescription" type="text">
                </md-input-container>
                <md-input-container class="textTemplate">
                    <label>Price in €</label>
                    <md-icon>
                        <ng-md-icon icon="euro_symbol"></ng-md-icon>
                    </md-icon>
                    <input ng-model="$ctrl.product.price" type="text">
                </md-input-container>
                <div>
                    <md-input-container class="textTemplate">
                        <label>Category</label>
                        <md-icon>
                            <ng-md-icon icon="label"></ng-md-icon>
                        </md-icon>
                        <md-select ng-model="$ctrl.product.category" placeholder="Category" class="md-no-underline">
                            <md-option value="art">Art</md-option>
                            <md-option value="clothes">Clothes</md-option>
                            <md-option value="jewellery">Jewellery</md-option>
                            <md-option value="accessories">Accessories</md-option>
                            <md-option value="homeDecor">Home decor</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container ng-model="$ctrl.product.subcategory" class="textTemplate">
                        <label>Subcategory</label>
                        <md-icon>
                            <ng-md-icon icon="label_outline"></ng-md-icon>
                        </md-icon>
                        <md-select ng-model="$ctrl.product.subcategory" placeholder="Subcategory" class="md-no-underline" required md-no-asterisk="false">
                            <md-option value="none">None</md-option>
                            <md-option value="earrings">Earrings</md-option>
                            <md-option value="rings">Rings</md-option>
                            <md-option value="necklacdes">Necklaces</md-option>
                            <md-option value="bracelets">Bracelets</md-option>
                            <md-option value="hair">Hair</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container class="textTemplate">
                        <label>Upload images</label>
                        <choose-file>
                            <input id="fileInput" type="file" class="ng-hide" aria-label="File Upload">
                            <md-input-container>
                                <input type="text" ng-model="fileName" disabled>
                                <div class="hint">Select your images</div>
                            </md-input-container>
                            <md-button id="uploadButton" class="md-fab md-mini" aria-label="Upload images">
                                <md-icon>
                                    <ng-md-icon icon="camera_alt"></ng-md-icon>
                                </md-icon>
                            </md-button>
                        </choose-file>
                    </md-input-container>
                </div>
                <md-input-container class="textTemplate color-select">
                    <ul>
                        <label class="choosecolor">Choose color</label>
                        <md-checkbox ng-model="$ctrl.product.color[0]" class="colorpaletteyellow" aria-label="Color Yellow" ng-true-value="'yellow'"
                            ng-false-value="' '"></md-checkbox>
                        <md-checkbox ng-model="$ctrl.product.color[1]" class="colorpaletteorange" aria-label="Color Orange" ng-true-value="'orange'"
                            ng-false-value="' '"></md-checkbox>
                        <md-checkbox ng-model="$ctrl.product.color[2]" class="colorpalettedarkred" aria-label="Color Red" ng-true-value="'red'" ng-false-value="' '"></md-checkbox>
                        <md-checkbox ng-model="$ctrl.product.color[3]" class="colorpalettebrown" aria-label="Color Brown" ng-true-value="'brown'"
                            ng-false-value="' '"></md-checkbox>
                        <md-checkbox ng-model="$ctrl.product.color[4]" class="colorpalettegreen" aria-label="Color Green" ng-true-value="'green'"
                            ng-false-value="' '"></md-checkbox>
                        <md-checkbox ng-model="$ctrl.product.color[5]" class="colorpalettedarkblue" aria-label="Color Blue" ng-true-value="'blue'"
                            ng-false-value="' '"></md-checkbox>
                        <md-checkbox ng-model="$ctrl.product.color[6]" class="colorpaletteviolette" aria-label="Color Violette" ng-true-value="'violette'"
                            ng-false-value="' '"></md-checkbox>
                    </ul>
                </md-input-container>
        </div>
        <div class="afterbutton" layout="row">
            <span flex></span>
            <md-button class="md-raised" ng-click="$ctrl.cancel()">Cancel</md-button>
            <md-button class="md-raised md-primary" ng-click="$ctrl.save()">Save</md-button>
        </div>
    </div>
</md-card>