<md-card class="offerBlock">
    <div layout="column" flex>
        <div class="title-wrapper">
            <br/>
            <h1 id="headline">
                Create New Offer: {{ $ctrl.product.name }}
            </h1>
            <p class="iconoffer">+</p>
            <br/>
        </div>
        <div>
            <form name="productForm">
                <md-input-container class="textTemplate" flex-gt-sm>
                    <label>Name</label>
                    <md-icon>
                        <ng-md-icon icon="title"></ng-md-icon>
                    </md-icon>
                    <input name="name" ng-model="$ctrl.product.name" type="text" required="">
                    <div ng-messages="productForm.name.$error" role="alert" multiple="">
                        <div ng-message="required">Don't forget to name your product silly!</div>
                    </div>
                </md-input-container>
                <md-input-container class="textTemplate description-wrapper" flex-gt-sm>
                    <label>Description</label>
                    <md-icon>
                        <ng-md-icon icon="subject"></ng-md-icon>
                    </md-icon>
                    <textarea name="description" id="textArea1" ng-model="$ctrl.product.description" md-maxlength="500" rows="4" md-select-on-focus
                        required=""></textarea>
                    <div ng-messages="productForm.description.$error" role="alert" multiple="">
                        <div ng-message="required">White space is boring.</div>
                    </div>
                </md-input-container>
                <md-input-container class="textTemplate" flex-gt-sm>
                    <label>Short Description</label>
                    <md-icon>
                        <ng-md-icon icon="subject"></ng-md-icon>
                    </md-icon>
                    <input name="shortDescription" ng-model="$ctrl.product.shortDescription" type="text" required="">
                    <div ng-messages="productForm.shortDescription.$error" role="alert" multiple="">
                        <div ng-message="required">Don't be too descriptive here.</div>
                    </div>
                </md-input-container>
                <md-input-container class="textTemplate" flex-gt-sm>
                    <label>Price in €</label>
                    <md-icon>
                        <ng-md-icon icon="euro_symbol"></ng-md-icon>
                    </md-icon>
                    <input name="price" ng-model="$ctrl.product.price" type="text" required="" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
                    <div ng-messages="productForm.price.$error" role="alert" multiple="">
                        <div ng-message="required">Please enter the price.</div>
                        <div ng-message="pattern">That doesn't look like a valid price.
                        </div>
                    </div>
                </md-input-container>
                <div layout-gt-sm="row">
                    <md-input-container class="textTemplate" flex-gt-sm>
                        <label>Product stock</label>
                        <md-icon>
                            <ng-md-icon icon="store"></ng-md-icon>
                        </md-icon>
                        <input name="stock" ng-model="$ctrl.product.stock" type="number" required="">
                        <div ng-messages="productForm.stock.$error" role="alert" multiple="">
                            <div ng-message="required">Please enter the stock.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="textTemplate" flex-gt-sm>
                        <label>Processing time</label>
                        <md-icon>
                            <ng-md-icon icon="hourglass_full"></ng-md-icon>
                        </md-icon>
                        <input name="processingDays" ng-model="$ctrl.product.processingDays" type="number" required="">
                        <div ng-messages="productForm.processingDays.$error" role="alert" multiple="">
                            <div ng-message="required">fill it up.</div>
                        </div>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container class="textTemplate" flex-gt-sm>
                        <label>Category</label>
                        <md-icon>
                            <ng-md-icon icon="label"></ng-md-icon>
                        </md-icon>
                        <md-select ng-model="$ctrl.product.category" placeholder="Category" class="md-no-underline">
                            <md-option value="Art">Art</md-option>
                            <md-option value="Clothes">Clothes</md-option>
                            <md-option value="Jewellery">Jewellery</md-option>
                            <md-option value="Accessories">Accessories</md-option>
                            <md-option value="Home Decor">Home Decor</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container ng-model="$ctrl.product.subcategory" class="textTemplate" flex-gt-sm>
                        <label>Subcategory</label>
                        <md-icon>
                            <ng-md-icon icon="label_outline"></ng-md-icon>
                        </md-icon>
                        <md-select ng-model="$ctrl.product.subcategory" placeholder="Subcategory" class="md-no-underline" required md-no-asterisk="false">
                            <md-option value="Earrings">Earrings</md-option>
                            <md-option value="Rings">Rings</md-option>
                            <md-option value="Necklaces">Necklaces</md-option>
                            <md-option value="Bracelets">Bracelets</md-option>
                            <md-option value="Hair">Hair</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container class="textTemplate" flex-gt-sm>
                        <label>{{$ctrl.product.file.$ngfName || "Upload images"}}</label>

                        <md-input-container>
                            <div class="hint">Select your images</div>
                        </md-input-container>

                        <md-button id="uploadButton" class="md-fab md-mini" aria-label="Upload images" type="file" ngf-select ng-model="$ctrl.product.file"
                            name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                            ngf-resize="{width: 550, height: 550}">
                            <md-icon>
                                <ng-md-icon icon="camera_alt"></ng-md-icon>
                            </md-icon>

                        </md-button>

                    </md-input-container>
                </div>
                <md-input-container class="textTemplate color-select" flex-gt-sm>
                    <ul>
                        <label class="choosecolor">Choose color</label>
                        <md-checkbox ng-model="$ctrl.product.color['isYellow']" class="colorpaletteyellow" aria-label="Color Yellow"></md-checkbox>
                        <md-checkbox ng-model="$ctrl.product.color['isOrange']" class="colorpaletteorange" aria-label="Color Orange"></md-checkbox>
                        <md-checkbox ng-model="$ctrl.product.color['isRed']" class="colorpalettedarkred" aria-label="Color Red"></md-checkbox>
                        <md-checkbox ng-model="$ctrl.product.color['isBrown']" class="colorpalettebrown" aria-label="Color Brown"></md-checkbox>
                        <md-checkbox ng-model="$ctrl.product.color['isGreen']" class="colorpalettegreen" aria-label="Color Green"></md-checkbox>
                        <md-checkbox ng-model="$ctrl.product.color['isBlue']" class="colorpalettedarkblue" aria-label="Color Blue"></md-checkbox>
                        <md-checkbox ng-model="$ctrl.product.color['isViolette']" class="colorpaletteviolette" aria-label="Color Violette"></md-checkbox>
                    </ul>
                </md-input-container>
            </form>
        </div>
        <div class="afterbutton" layout="row">
            <span flex></span>
            <md-button class="md-raised" ng-click="$ctrl.cancel()">Cancel</md-button>
            <md-button class="md-raised md-primary" ng-click="$ctrl.save()">Save</md-button>
        </div>
    </div>
</md-card>