<div layout="column" layout-padding="">
    <span flex="20"></span>
    <md-content class="login-form" layout="row" flex="35">
        <span flex="35"></span>
        <md-card flex="30">
            <md-card-content>
                <form name="LoginForm">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Username</label>
                        <input type="text" name="username"
                               placeholder="username"
                               ng-model="$ctrl.login.username"
                               required minlength="5"
                               ng-pattern="/^[a-zA-Z0-9ÖÜÄöüäß]+$/"
                               md-maxlength="15"/>
                        <div ng-messages="LoginForm.username.$error">
                            <div ng-message="required">Please enter your username.</div>
                            <div ng-message="pattern">No whacky characters; We are sql injection proof!</div>
                            <div ng-message-exp="['minlength', 'maxlength']">Your username should be between 5 and 15 characters.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" name="password" ng-model="$ctrl.login.password" placeholder="password" required="" md-maxlength="64"/>
                        <div ng-messages="LoginForm.password.$error" role="alert" multiple="">
                            <div ng-message="required">Please enter your password.</div>
                        </div>
                    </md-input-container>
                    <md-button ng-disabled="!LoginForm.$valid" ng-click="$ctrl.submit()" class="md-raised md-primary">&nbsp Login &nbsp</md-button>
                    <md-progress-linear ng-if="$ctrl.buttonClicked" md-mode="indeterminate"></md-progress-linear>
                </form>
                <a ui-sref="app.signup" class="LinkSignUp">...or Sign Up first</a>
            </md-card-content>
        </md-card>
        <span flex></span>
    </md-content>
    <span flex></span>
</div>
