 <div layout="row" layout-padding>
        <div flex="10"></div>
        <div flex="80">
            <h1 >
                Thanks for your Shopping!
            </h1>
            <h3 >
                Get inspired for further products and go on shopping!
            </h3>
            <h3 >
                Categories:
            </h3>
            <div>
                <img src="../../assets/img/Category_Art.jpg" alt="" style="max-width:200px">
                <img src="../../assets/img/Category_Jewellery.jpg" alt="" style="max-width:200px">
                <img src="../../assets/img/Category_Art.jpg" alt="" style="max-width:200px">
                <img src="../../assets/img/Category_Jewellery.jpg" alt="" style="max-width:200px">
                <img src="../../assets/img/Category_Art.jpg" alt="" style="max-width:200px">
                <img src="../../assets/img/Category_Jewellery.jpg" alt="" style="max-width:200px">



            </div>
            <h3 >
                Sellers:
            </h3>
            <div>
                <img src="../../assets/img/Seller1.jpg" alt="" style="max-width:200px">
                <img src="../../assets/img/Seller5.jpg" alt="" style="max-width:200px">
                <img src="../../assets/img/Seller1.jpg" alt="" style="max-width:200px">
                <img src="../../assets/img/Seller5.jpg" alt="" style="max-width:200px">
                <img src="../../assets/img/Seller1.jpg" alt="" style="max-width:200px">
                <img src="../../assets/img/Seller5.jpg" alt="" style="max-width:200px">



            </div>
            </div>
        <div flex="10"></div>
    </div>


