 <div layout="row" layout-padding>
        <div flex="10"></div>
        <div flex="80">
            <h1 >
                Thanks for your Shopping!
            </h1>
            <div style="text-align: center;">
                <img src="../../assets/img/Logo_Craftworks.png" alt="" style="max-width:800px; align-items: center;">
            </div>

            <h4 >
                Get inspired for further products and go on shopping!
            </h4>
            <div>
                <img src="../../assets/img/Category_Art_sm.jpg" alt="" style="max-width:200px">
                <img src="../../assets/img/Category_HomeDecor_sm.jpg" alt="" style="max-width:200px">
                <img src="../../assets/img/Category_Clothes2_sm.jpg" alt="" style="max-width:200px">
                <img src="../../assets/img/Category_Jewellery_sm.jpg" alt="" style="max-width:200px">
                <img src="../../assets/img/Category_Home_Decor_sm.jpg" alt="" style="max-width:200px">
                <img src="../../assets/img/Category_Accessories_sm.jpg" alt="" style="max-width:200px">
            </div>
        </div>
     <div flex="10"></div>
 </div>


