 <div layout="row" layout-padding>
        <div flex="10"></div>
        <div flex="80">
            <h1 >
                About Us
            </h1>

            <h4 layout-padding>
                You love unique items and handcrafted products? Yes?
                We too!
            </h4>

            <div style="text-align: center;">
                <div layout="row"  style="text-align: center;">
                    <div flex="15"></div>
                    <div flex="20">
                        <img src="../../assets/img/AboutUs/Alexandra.png" alt="" style="max-height:200px">
                        <h4 >
                            Alexandra
                        </h4>
                    </div>
                    <div flex="40">
                            <img src="../../assets/img/AboutUs/Pulak.png" alt="" style="max-height:200px">
                            <h4 >
                                Pulak
                            </h4>
                    </div>
                    <div flex="20">
                        <img src="../../assets/img/AboutUs/Barbara.png" alt="" style="max-height:200px">
                        <h4 >
                            Barbara
                        </h4>
                    </div>
                    <div flex="15"></div>
            </div>
                <p>We are three design markets connoisseurs who love to stroll through booths to find fancy, new products and meet local artisants!</p>
                <p> We hope you like our homepage and are amazed by all the creativeness Germany has to offer, just like we are! :)</p>
                <div style="text-align: center;">
                    <img src="../../assets/img/Logo_Craftworks.png" alt="" style="max-width:800px; align-items: center;">
                </div>
            <div class="statement">
                <div class="statement-wrapper">
                    <div class="statement-item">
                        <div class="title"> <i class="material-icons">favorite</i>   Find unique items you love </div>
                    </div>
                    <div class="statement-item">
                        <p class="title"><i class="material-icons">lightbulb_outline</i>   Get inspired by creative designs </p>
                    </div>
                    <div class="statement-item">
                        <p class="title"><i class="material-icons emotions">tag_faces</i>   Buy local and feel good   </p>
                    </div>
                </div>
            </div>


            <h4 >
                Get inspired for further products and go on shopping!
            </h4>
            <div>
                <img src="../../assets/img/Category_Art_sm.jpg" alt="" style="max-width:200px">
                <img src="../../assets/img/Category_HomeDecor_sm.jpg" alt="" style="max-width:200px">
                <img src="../../assets/img/Category_Clothes2_sm.jpg" alt="" style="max-width:200px">
                <img src="../../assets/img/Category_Jewellery_sm.jpg" alt="" style="max-width:200px">
                <img src="../../assets/img/Category_Accessories_sm.jpg" alt="" style="max-width:200px">
            </div>
        </div>
     <div flex="10"></div>
 </div>
 </div>



