<div layout="row" layout-padding>
    <div flex="10"></div>
    <div flex="80">
        <div>
            Enter a text for filtering {{$ctrl.filter}}
        </div>
        <div ng-repeat="category in $ctrl.categories">
            <div>{{category.name}}</div>
        </div>

        <div>
            <md-input-container class="textTemplate" flex-gt-sm>
                <label>Category</label>
                <md-icon>
                    <ng-md-icon icon="label"></ng-md-icon>
                </md-icon>
                <md-select ng-model="$ctrl.filter.category" placeholder="Category"  class="md-no-underline">
                    <div ng-repeat="category in $ctrl.categories">
                        <md-option value="{{category.name}}">{{category.name}}</md-option>
                    </div>

                    <!--<md-option value="Art">Art</md-option>
                    <md-option value="Clothes">Clothes</md-option>
                    <md-option value="Jewellery">Jewellery</md-option>
                    <md-option value="Accessories">Accessories</md-option>
                    <md-option value="Home Decor">Home Decor</md-option>-->
                </md-select>
            </md-input-container>
        </div>

        <!--
        <md-radio-group ng-model="$ctrl.filter.category" ng-dblclick="$ctrl.filter.category=null" >
            <div class="category-container" ng-repeat="result in $ctrl.results">
                <md-radio-button value="{{result._source.name}}" class="md-primary">{{result._source.name}}</md-radio-button>
            </div>
        </md-radio-group>
        -->

        <div>
            <md-input-container class="textTemplate color-select" flex-gt-sm>
                <ul>
                    <label class="choosecolor">Choose color</label>
                    <md-checkbox ng-model="$ctrl.filter.color['isYellow']"
                                 class="colorpaletteyellow"
                                 aria-label="Color Yellow"
                                 ng-false-value="'hack'">
                    </md-checkbox>
                    <md-checkbox ng-model="$ctrl.filter.color['isOrange']"
                                 class="colorpaletteorange"
                                 aria-label="Color Orange"
                                 ng-false-value="'hack'">
                    </md-checkbox>
                    <md-checkbox ng-model="$ctrl.filter.color['isRed']"
                                 class="colorpalettedarkred"
                                 aria-label="Color Red"
                                 ng-false-value="'hack'">
                    </md-checkbox>
                    <md-checkbox ng-model="$ctrl.filter.color['isBrown']"
                                 class="colorpalettebrown"
                                 aria-label="Color Brown"
                                 ng-false-value="'hack'">
                    </md-checkbox>
                    <md-checkbox ng-model="$ctrl.filter.color['isGreen']"
                                 class="colorpalettegreen"
                                 aria-label="Color Green"
                                 ng-false-value="'hack'">
                    </md-checkbox>
                    <md-checkbox ng-model="$ctrl.filter.color['isBlue']"
                                 class="colorpalettedarkblue"
                                 aria-label="Color Blue"
                                 ng-false-value="'hack'">
                    </md-checkbox>
                    <md-checkbox ng-model="$ctrl.filter.color['isViolette']"
                                 class="colorpaletteviolette"
                                 aria-label="Color Violette"
                                 ng-false-value="'hack'">
                    </md-checkbox>
                    <md-checkbox ng-model="$ctrl.filter.color['isWhite']"
                                 class="colorpalettewhite"
                                 aria-label="Color White"
                                 ng-false-value="'hack'">
                    </md-checkbox>
                    <md-checkbox ng-model="$ctrl.filter.color['isBlack']"
                                 class="colorpaletteblack"
                                 aria-label="Color Black"
                                 ng-false-value="'hack'">
                    </md-checkbox>
                    <md-checkbox ng-model="$ctrl.filter.color['isGrey']"
                                 class="colorpalettegrey"
                                 aria-label="Color Grey"
                                 ng-false-value="'hack'">
                    </md-checkbox>
                </ul>
            </md-input-container>
        </div>
        <div>
            <md-slider-container>
                <span>0</span>
                <md-slider flex min="0" max="255" ng-model="$ctrl.filter.price" aria-label="green" id="green-slider">
                </md-slider>
                <md-input-container>
                    <input flex type="number" ng-model="$ctrl.filter.price" aria-label="green" aria-controls="green-slider">
                </md-input-container>
            </md-slider-container>
        </div>
        <div class="offer-content">
            <h1 id="headline">
                Product Overview
            </h1>
            <div class="item-container">
                <div class="item" ng-repeat="result in $ctrl.results
                 | filter:$ctrl.filterPrice($ctrl.filter.price)
                 | filter:$ctrl.filterColor($ctrl.filter.color)
                 | filter:$ctrl.filter.category">
                    <img ng-src="{{result._source.imagePath}}"
                        style="max-width:200px">
                    <div class="item-details">
                        <div class="item-row">
                            <div class="left">
                                <div layout="column">
                                    <div class="productName">{{result._source.name}}</div>
                                    <div> {{result._source.price}}</div>
                                </div>
                            </div>
                            <div class="right">
                                <md-button class="md-icon-button" aria-label="Shop Product" style="float: right;" ng-click="$ctrl.addtoShoppingCart(product)">
                                    <md-icon>
                                         <ng-md-icon icon="shopping_cart"></ng-md-icon>
                                    </md-icon>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div flex="10"></div>
</div>
