 <md-content class="md-no-momentum">
        <div layout="row">
        <!-- Start of Navigationblock left-->
        <!-- End of Navigationblock left-->
        <!-- Start of Offer overview block right-->
        <div flex>
        <md-card class="offersOverview">

                <h1 id="headline">
                    Product Overview
                </h1>
            <div class="offersListed">
            <md-grid-list class="things-list" md-cols-sm="2" md-cols-md="4" md-cols-lg="8" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="12px" md-gutter-gt-sm="8px" layout="row" layout-align="center center">
                <md-grid-tile md-rowspan="2" md-colspan="2" ng-repeat="product in $ctrl.products">
                    <img ng-src="https://www.catbirdnyc.com/media/catalog/product/cache/1/image/1000x/602f0fa2c1f0d1ba5e241f914e856ff9/t/e/teardrop_2.jpg" style="max-width:200px">
                    <md-grid-tile-footer style="height:50px">
                        <div layout="row" flex>
                            <div flex="90">
                                <div layout="column">
                                <div class="productName">{{product.name}}</div>
                                <div> {{product.shortDescription}}</div>
                                </div>
                            </div>
                            <div flex="10">
                                <md-button class="md-icon-button" aria-label="Shop Product" style="float: right;" >
                                <md-icon><ng-md-icon icon="shopping_cart"></ng-md-icon></md-icon>
                                </md-button>
                            </div>







                    </md-grid-tile-footer>
                    </br>
                    <md-divider ng-if="!$last"></md-divider>
                </md-grid-tile>
            </md-grid-list>
            </div>
        </md-card>
        </div>

        <!-- Kept for maybe using it again, will delete it, when i am finished here -->
        <!-- <md-list> -->
            <!--<md-list-item aria-label="Movie"  class="noright" ng-repeat="product in $ctrl.products">-->
                <!--<md-icon><ng-md-icon icon="insert_drive_file"></ng-md-icon></md-icon>-->

                <!--<p> {{product.productName}} </p>-->

                <!--<md-button class="md-icon-button" aria-label="Edit Item" >-->
                    <!--<md-icon><ng-md-icon icon="mode_edit"></ng-md-icon></md-icon>-->
                <!--</md-button>-->

                <!--<md-button class="md-icon-button"aria-label="Delete Item" >-->
                    <!--<md-icon><ng-md-icon icon="delete" ></ng-md-icon></md-icon>-->
                <!--</md-button>-->
                <!--<md-divider ng-if="!$last"></md-divider>-->
            <!--</md-list-item>-->
            <!--<md-divider></md-divider>-->
        <!-- </md-list> -->
    </md-content>
</div>



