.offersOverview {
    left: 400px;
}
.offersListed {
    top: 0px !important;;
    position: relative !important;;
    left: 10px !important;;
    bottom: 50px !important;;
}

.productName {
    font-weight: bold;
}

.productDescription {
}

md-grid-tile-footer figcaption  {
    width:100%;
}

.offersListed .grid-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.item {
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.edit-button {
    margin-left: 30px;
}

.edit-button button {
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.delete-button button {
    margin-left: 0 !important;
    padding-left: 0 !important;
}


.seller-product-image {
    width: 200px;
    height: 200px;
}

.md-success-toast-theme .md-toast-content {
    color: rgb(34,139,34) !important;
    font-weight: bold;
}
