<md-content class="md-no-momentum">
    <div layout="row">
        <div flex>
            <md-card class="offersOverview">
                <h1 id="headline">
                    My Offers
                </h1>
                <div class="offersListed">
    <div class="grid-container">
        <div ng-repeat="product in $ctrl.products" class="item">
            <img ng-src="{{product.imagePath}}" style="max-width:200px">
            <md-grid-tile-footer style="height:50px; margin-top: 10px;" class="item-footer">
                <div layout="row">
                    <div>
                        <div layout="column">
                            <div class="productName">{{product.name}}</div>
                            <div> {{product.shortDescription}}</div>
                        </div>
                    </div>
                    <div class="edit-button">
                        <md-button class="md-icon-button" aria-label="Edit Product"
                                   style="float: right;">
                            <md-icon>
                                <ng-md-icon icon="mode_edit"></ng-md-icon>
                            </md-icon>
                        </md-button>
                    </div>
                    <div class="delete-button">
                        <md-button class="md-icon-button" aria-label="Delete Product"
                                   style="float: right;">
                            <md-icon>
                                <ng-md-icon icon="delete"></ng-md-icon>
                            </md-icon>
                        </md-button>
                    </div>
                </div>
            </md-grid-tile-footer>
        </div>
    </div>
                </div>
            </md-card>
        </div>
    </div>
</md-content>
