<md-sidenav class="md-sidenav-left" md-component-id="{{$ctrl.menuId}}"
    md-disable-backdrop md-whiteframe="4">

    <md-toolbar class="sidebar-category-title">
        <h1 class="md-toolbar-tools"><i class="material-icons">apps</i>Categories</h1>
    </md-toolbar>

    <md-content layout-margin>
        <ul class="side-bar-menu-list">
            <li class="item">
                <a ng-click="$ctrl.openJewellery()">Art</a>
            </li>
            <li class="item">
                <a ng-click="$ctrl.openJewellery()">Clothes</a>
            </li>
            <li class="item">
                <a ng-click="$ctrl.openJewellery()">Jewellery</a>
            </li>
            <li class="item">
                <a ng-click="$ctrl.openJewellery()">Accessories</a>
            </li>
            <li class="item">
                <a ng-click="$ctrl.openJewellery()">Home decor</a>
            </li>
        </ul>
    </md-content>

    <md-toolbar class="sidebar-category-title">
        <h1 class="md-toolbar-tools"><i class="material-icons">event</i>News & Events</h1>
    </md-toolbar>

    <md-content layout-margin>
        <ul class="side-bar-menu-list">
            <li class="item">
                <a ui-sref="app.aboutus">News</a>
            </li>
            <li class="item">
                <a ui-sref="app.aboutus">Events</a>
            </li>
        </ul>
    </md-content>

    <md-toolbar class="sidebar-category-title">
        <h1 class="md-toolbar-tools"><i class="material-icons">error_outline</i>About us...</h1>
    </md-toolbar>

    <md-content layout-margin>
        <ul class="side-bar-menu-list">
            <li class="item">
                <a ui-sref="app.aboutus">Our story</a>
            </li>
            <li class="item">
                <a ui-sref="app.aboutus">Support</a>
            </li>
            <li class="item">
                <a ui-sref="app.aboutus">Contacts & Imprint</a>
            </li>
        </ul>
    </md-content>
</md-sidenav>