<footer flex layout="row">
    <span flex="30"></span>
    <div class="content-wrapper" flex layout="row">
        <div flex layout="column" flex="33">
            <p class="title">CraftWorks</p>
            <ul class="link-list">
                <li>
                    <a href="#">About us</a>
                </li>
                <li>
                    <a href="#">Careers</a>
                </li>
                <li>
                    <a href="#">Imprint</a>
                </li>
            </ul>
        </div>
        <div flex layout="column" flex="33">
            <p class="title">Sell with Us</p>
            <ul class="link-list">
                <li>
                    <a href="#">Pricelist</a>
                </li>
                <li>
                    <a href="#">How it Works</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
        <div flex layout="column" flex="33">
            <p class="title">Useful Links</p>
            <ul class="link-list">
                <li>
                    <a href="#">Blogs</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">Help</a>
                </li>
            </ul>
        </div>
    </div>
    <span flex="20"></span>
</footer>