<md-toolbar>
    <div class="md-toolbar-tools">
        <div id="nav-icon4" ng-click="$ctrl.toggleLeft()" ng-class="{'open': $ctrl.menuOpened}">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <span flex></span>

        <div class="search-container">
            <i class="material-icons">search</i>
            <input placeholder="Search for items...">
        </div>
        <div class="notification-icon-wrapper">
            <a href="#">
                <i class="material-icons">notifications_none</i>
            </a>
        </div>
        <div class="mail-icon-wrapper">
            <a href="#">
                <i class="material-icons">mail_outline</i>
            </a>
        </div>
        <div class="profile-dropdown-container">
            <div layout="row" layout-align="space-between center">
                <md-select class="user-dropdown" ng-model="user" placeholder="{{$ctrl.isAuthenticated() ? $ctrl.getCurrentUser() : Login }}" class="md-no-underline">
                    <md-option value="axe" ng-if="$ctrl.isAuthenticated()">My account</md-option>
                    <md-option value="sword" ng-if="$ctrl.isAuthenticated()">My offers</md-option>
                    <md-option value="wand" ng-if="$ctrl.isAuthenticated()">Settings</md-option>
                    <md-option value="pen" ng-if="$ctrl.isAuthenticated()" ng-click="$ctrl.logout($event)">Sign out</md-option>
                    <md-option value="pen" ng-if="!$ctrl.isAuthenticated()" ng-click="$ctrl.login($event)">Login</md-option>
                </md-select>
            </div>
        </div>
        <div class="shopping-cart-icon-wrapper">
            <a href="#">
                <i class="material-icons">shopping_cart</i>
            </a>
        </div>
    </div>
</md-toolbar>