<md-toolbar>
    <div class="md-toolbar-tools">
        <div id="nav-icon4" ng-click="$ctrl.toggleLeft()" ng-class="{'open': $ctrl.menuOpened}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    <div class="logoheader" ng-click="$ctrl.goHome()">
        CraftWorks
    </div>


        <span flex></span>

        <div class="search-container">
            <i class="material-icons headericon">search</i>
            <input placeholder="Search for items...">
        </div>
        <div class="notification-icon-wrapper">
            <a href="#">
                <i class="material-icons headericon">notifications_none</i>
            </a>
        </div>
        <div class="mail-icon-wrapper">
            <a href="#">
                <i class="material-icons headericon">mail_outline</i>
            </a>
        </div>
        <div class="mail-icon-wrapper">
            <a ui-sref="app.login">
                <i class="material-icons headericon" ng-if="!$ctrl.isAuthenticated()">face</i>
            </a>
        </div>
        <div class="profile-dropdown-container" ng-if="$ctrl.isAuthenticated()">
            <div layout="row" layout-align="space-between center">
                <md-select class="user-dropdown" ng-model="user" placeholder="{{$ctrl.isAuthenticated() ? $ctrl.getCurrentUser() : Login }}" class="md-no-underline">
                    <md-option value="My Account" ng-if="$ctrl.isAuthenticated()">My account</md-option>
                    <md-option value="My Offers" ng-if="$ctrl.isAuthenticated()" ng-click="$ctrl.myOffers()">My offers</md-option>
                    <md-option value="productAdd" ng-if="$ctrl.isAuthenticated()" ng-click="$ctrl.addProduct()">Create new offer</md-option>
                    <md-option value="Settings" ng-if="$ctrl.isAuthenticated()">Settings</md-option>
                    <md-option value="Logout" ng-if="$ctrl.isAuthenticated()" ng-click="$ctrl.logout($event)">Sign out</md-option>
                    <md-option value="" ng-if="!$ctrl.isAuthenticated()" ng-click="$ctrl.login($event)">Login</md-option>
                </md-select>
            </div>
        </div>
        <div class="shopping-cart-icon-wrapper">
            <a href="#">
                <i class="material-icons headericon">shopping_cart</i>
            </a>
        </div>
    </div>
</md-toolbar>
